@media (max-width:1620px) {
    .contentWhat {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


@media (max-width:1470px) {
    .photo131 {
        width: 30rem;
    }

    .scrol {
        margin-left: 17.5vw;
        justify-content: center;
        display: flex;
        font-size: 1rem;
        align-items: center;
        font-family: "Balsamiq Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media (max-width:1264px) {
    .scrol {
        margin-left: 15vw;
        justify-content: center;
        display: flex;
        font-size: 1rem;
        align-items: center;
        font-family: "Balsamiq Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .photo131 {
        width: 25rem;
    }

    .Expl-div {
        display: flex;
        align-items: center;
        height: 100vh;
        margin-left: 0px;
        justify-content: center;
    }

}


@media (max-width:1078px) {
    .scrol {
        margin-left: 10vw;
        justify-content: center;
        display: flex;
        font-size: 0.85rem;
        align-items: center;
        font-family: "Balsamiq Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .video {
        width: 30rem;
        margin-left: 5rem;
        margin-bottom: 4rem;
    }

    .block {
        width: 100%;
        max-width: 600px;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }

    .block {
        width: 100%;
        max-width: 600px;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }

}

@media (max-width:991px) {
    .scrol {
        margin-left: 10vw;
        justify-content: center;
        display: flex;
        font-size: 0.85rem;
        align-items: center;
        font-family: "Balsamiq Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        opacity: 0;
        cursor: auto;
        user-select: none;
        /* Для большинства браузеров */
        -webkit-user-select: none;
        /* Для Safari */
        -moz-user-select: none;
        /* Для Firefox */
        -ms-user-select: none;
        /* Для Internet Explorer/Edge */
    }

    .icon-head {
        color: #000000;
        font-family: "Balsamiq Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
        font-size: 0.8rem;
    }

    .Heart-text-video {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .textH {
        width: 40%;
        font-size: 1rem;
        text-align: center;
    }

    .card {
        background-color: #2a2a2a;
        border: 1px solid white;
        padding: 2rem;
        margin-bottom: 3rem;
        width: 100%;
        height: 25rem;
        margin-left: 0.5rem;
    }
}


@media (max-width:869px) {
    .grid-container {
        width: 100%;
        max-width: 75rem;
    }

    .photo131 {
        width: 20rem;
    }

    .signal-content {
        display: flex;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .block {
        width: 100%;
        max-width: 600px;
        margin-bottom: 2rem;
        margin-left: 5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .input-back {
        margin-left: 1rem;
        margin-top: -3rem;
        width: 45rem;
    }


}

@media (max-width: 870px) {
    .grid-container {
        display: block;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 100%;
        max-width: 75rem;
    }
}

@media (max-width: 900px) {

    html,
    body {
        overflow-x: hidden;
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
        background: linear-gradient(rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 90%);
        transition: background 1s ease-in-out;
        /* Явное указание перехода */
    }

    /* Добавь классы для отображения head при скролле, если JS их использует */
    .head.active {
        background: rgba(0, 0, 0, 1);
    }
}

@media (max-width: 810px) {
    .text-What {
        margin-top: 2rem;
        font-size: 2vw;
        text-align: center;
    }
}

@media (max-width:696px) {
    .expl-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-head {
        margin-left: -25rem;
    }

    .photo131 {
        width: 15rem;
    }

    .img-expl img {
        width: 30rem;
    }
}

@media (max-width: 754px) {
    .mainH {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: "Oswald", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1;
    }
}

@media (max-width: 722px) {
    .input-enter {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .divpop {
        margin: 1rem;
        color: aliceblue;
        width: 30rem;
    }

    .photo131 {
        width: 15rem;
    }

    .textWat {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: "Oswald", sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1;
    }

    .textS {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: "Oswald", sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1;
    }

    .textI {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .custom-checkbox {
        display: flex;
        align-items: center;
        width: 25rem;
    }
}

@media (max-width: 568px) {
    .video {
        width: 30rem;
        margin-left: 0;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textH {
        width: 80%;
        font-size: 1rem;
        text-align: center;
    }

    .imgH {
        width: 50%;
        margin-bottom: 2rem;
    }

    .text-What {
        margin-top: 2rem;
        font-size: 2.5vw;
        text-align: center;
    }

    .screen-text {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    .photo131 {
        width: 13rem;
    }

    .bac2 {
        background: url(http://localhost:3000/static/media/bg.657fcc664e8be6dc5988.webp);
        background-color: rgba(0, 0, 0, 0);
        background-size: auto;
        background-size: cover;
        height: 260vh;
        background-color: black;
    }
}

@media (max-width: 534px) {
    .block {
        width: 60%;
        max-width: 600px;
        margin-bottom: 2rem;
        margin-left: 0rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-expl img {
        width: 25rem;
    }
}

@media (max-width: 490px) {
    .video {
        width: 25rem;
        margin-left: 0;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button01 {
        margin: 5rem 1rem;
    }

    .photo131 {
        width: 12rem;
    }

    .swiper-button-next {
        opacity: 0;
    }

    .swiper-button-prev {
        opacity: 0;
    }

    .stalker {
        width: 7rem;
        opacity: 0;
    }
}

@media (max-width: 460px) {
    .img-expl img {
        width: 20rem;
    }

    .button01 {
        margin: 5rem 0.2rem;
    }

    .video {
        width: 20rem;
        margin-left: 0;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textH {
        width: 80%;
        font-size: 1rem;
        text-align: left;
    }

    .input-photo {
        display: flex;
        align-items: center;
        background-color: rgb(49, 49, 49);
        border: #777777 1px solid;
        width: 100%;
        max-width: 20rem;
        margin: 0 auto;
    }

    .TextSing1 {
        color: #f2e8d9;
        width: 60%;
        margin-left: 5.5rem;
    }

    .custom-checkbox {
        display: flex;
        align-items: center;
        width: 20rem;
    }

    .divpop {
        margin: 1rem;
        color: aliceblue;
        width: 20rem;
    }

    .text-What {
        margin-top: 2rem;
        font-size: .9rem;
        text-align: left;
    }

    .photo131 {
        width: 10rem;
    }

    .Heart {
        background: url('../img/bg.jpg');
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: cover;
        background-position: center;
        padding: 2rem;
        margin-top: -1rem;
    }
}

@media (max-width: 390px) {
    .button-expl {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .button1 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #464646;
        border: none;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        width: 12rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 0.2rem;
        margin-top: -7rem;
    }

    .texturl {
        position: absolute;
        background-color: rgb(70, 70, 70);
        margin-top: -0.5rem;
        width: 12rem;
        margin-top: -5.3rem;
    }
}


@media (max-width: 360px) {
    .photo131 {
        width: 9rem;
    }

    .card {
        background-color: #2a2a2a;
        border: 1px solid white;
        padding: 2rem;
        margin-bottom: 3rem;
        width: 100%;
        height: 35rem;
        margin-left: 0.5rem;
    }
    .bac2 {
        background: url(http://localhost:3000/static/media/bg.657fcc664e8be6dc5988.webp);
        background-color: rgba(0, 0, 0, 0);
        background-size: auto;
        background-color: rgba(0, 0, 0, 0);
        background-size: auto;
        background-size: cover;
        height: 340vh;
        background-color: black;
      }
}