.bacgraundW {
  background: url('../../../img/bg.jpg');
  background-size: cover; /* Обеспечивает полное покрытие фона */
  background-position: center; /* Центрирует фон */
  padding: 2rem; /* Добавляет отступы вокруг содержимого */
}

.textWat {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

.img-video {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap; /* Позволяет переносить элементы на новую строку */
  gap: 10px; /* Промежуток между элементами */
  justify-content: center; /* Центрирует элементы */
}

.photo {
  flex: 0 1 calc(50% - 10px); /* Два элемента в строке с отступом */
  max-width: 100%; /* Ограничивает ширину изображения */
}

.additional-photos {
  display: flex;
  flex-direction: column; /* Размещает дополнительные фотографии вертикально */
  align-items: center; /* Центрирует дополнительные фотографии */
  margin-top: 1rem; /* Добавляет отступ сверху для дополнительных фотографий */
}

.contentWhat {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.text-What {
  margin-top: 2rem; /* Отступ сверху для текста */
}

.divpop {
  margin: 1rem;
  color: aliceblue;
  width: 50rem; /* Ширина блока текста */

}
.additional-photos{
  margin-top: 0rem;
}

.PhotoW {
  max-width: 100%; /* Ограничивает ширину изображения */
  height: auto; /* Сохраняет пропорции изображения */
}

.videoWhat{
  width: 22.5rem;
}