.Expl-div {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 10rem;
}


.expl-conten {
    display: flex;
    flex-direction: column;

}

.button-expl {
    display: flex;
    justify-content: center;
}

.button01 {
    margin: 5rem 3rem;
}

.button0 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #ee991a;
    border: none; 
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    width: 12rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.2rem; 
}

.button0-text {
    font-size: 1rem;
    text-align: center;
    margin-left: 0.3rem;
}
.button1 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #464646;
    border: none; 
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    width: 12rem;
    height: 2rem;
    cursor: pointer; 
    border-radius: 0.2rem;
}

.button1-text {
    font-size: 1rem;
    text-align: center;
    color :#f2e8d9;
}
    